<div class="flex flex-col items-center w-full min-h-screen bg-gray-50 p-4">

    <div class="flex flex-col items-center w-full max-w-md mt-10">
        <img class="w-24 h-24 rounded-full mt-2" src="../../../assets/TioApp-login.png" alt="Logo TioApp">

        <label class="text-3xl font-bold mb-4 mt-4 text-gray-800">Bem-vindo ao TioApp 👣</label>

        <div class="h-32 w-full text-center mb-8">
            <app-typewriter class="w-full" text="Monitore a chegada do seu filho com maior praticidade."></app-typewriter>
        </div>
    </div>

    <div class="flex justify-center w-full max-w-md p-6 mb-10">

        <div class="w-full p-8 bg-white shadow-xl rounded-3xl">

            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="mb-6">
                    <label class="block text-sm font-medium text-gray-700">Email</label>
                    <div class="relative mt-1">
                        <input type="email" formControlName="email"
                               class="w-full p-2 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500"
                               placeholder="Digite seu email"/>
                    </div>
                </div>

                <div class="mb-8">
                    <label class="block text-sm font-medium text-gray-700">Senha</label>
                    <div class="relative mt-1">
                        <input type="password" formControlName="password"
                               class="w-full p-2 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500"
                               placeholder="Digite sua senha"/>
                    </div>
                </div>

                <button type="submit"
                        class="w-full py-3 px-4 rounded-lg bg-blue-600 text-white font-bold hover:bg-blue-700 transition duration-300 shadow-md text-lg">
                    Entrar
                </button>
            </form>

            <div class="flex justify-center mt-4">
                <a routerLink="../esqueceu-senha" class="text-sm text-blue-600 hover:text-blue-800">Esqueci minha senha</a>
            </div>
        </div>
    </div>
</div>
